[
    {trade, [
        {terminal_manager, [
            {port, 31337},
            {host, "0.0.0.0"},
            {keyfile,    "/home/chaos/Documents/keys/server/key.pem"},
            {certfile,   "/home/chaos/Documents/keys/server/cert.pem"},
            {cacertfile, "/home/chaos/Documents/keys/root/cert.pem"},
            {accounts, [
               {pasha, {"TCNN9757", "w6q3Q2", "195.128.78.60", 3939}}
            ]}
        ]},
        {database, []}
    ]},

    {mnesia, [
        {dir, "database"},
        {dc_dump_limit, 40},
        {dump_log_time_threshold, 10000},
        {dump_log_write_threshold, 100000}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {"logs/error.log", error, 10485760, "$D0", 5},
                {"logs/console.log", info, 10485760, "$D0", 5}
            ]}
        ]},
        {crash_log, "logs/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].
